.square-header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    height: 100vh; /* 전체 화면 높이 */
    flex-direction: column; /* 헤더와 폼을 세로로 정렬 */
}

.square-header {
    display: flex;
    justify-content: space-between; /* 로고와 네비게이션을 가로로 중앙 정렬 */
    align-items: center;
    width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
}

.square-logo img {
    width: 40px; /* 로고 크기 조정 */
    height: auto;
    margin-right: 20px;
}

.square-main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.square-main-nav li {
    margin-right: 20px;
}

.square-main-nav li a {
    text-decoration: none;
    color: #333;
    font-size: 14px; /* 메뉴 폰트 크기 줄임 */
    padding: 5px 10px;
}

.square-main-nav li img {
    width: 35px;
}

.square-has-submenu ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
}

.square-has-submenu:hover ul {
    display: block;
}

.contents {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1080px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 120px 0; /* 헤더가 고정되어 있기 때문에 폼이 겹치지 않도록 여백을 줍니다 */
}

.form-container {
    width: 55%;
    padding: 20px;
}

.location-container {
    width: 40%;
    padding: 20px;
    text-align: center;
}

.location-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* 폼 아래에 이미지를 배치하려면 margin-top을 추가 */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lightgreen;
}

ul.time_list {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
}

ul.time_list li.time_item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1px;
    box-sizing: border-box;
    flex: 1;
}

ul.time_list li.time_item.half {
    width: 20px;
    box-sizing: border-box;
}

li.time_item.half button.btn_time {
    background-color: #aaa;
}

li.time_item.half.selected button.btn_time {
    background-color: greenyellow;
}